<!DOCTYPE html>

{% load static %}
{% load i18n %}


<html>
<link rel="stylesheet" href="{% static 'catalog/css/bulma.css' %}">

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-centered">
            <div class="column is-4">
                {% block content %}
                {% endblock %}

            </div>

        </div>

    </div>
  </div>
</section>

</html>