{% extends 'registration/base.html' %}

{% block content %}

{% load widget_tweaks %}
<h3 class="title">Entrar</h3>
<form method="post" class="box">

    {% csrf_token %}

    <div class="field">
        <label for="{{ form.username.id_for_label }}" class="label">
            {{ form.username.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.username class+="input" %}
            <span class="icon is-small is-left">
                <i class="fas fa-envelope-square"></i>
            </span>
        </div>
        {{ form.username.errors }}
    </div>

    <div class="field">
        <label for="{{ form.password.id_for_label }}" class="label">
            {{ form.password.label }}
        </label>
        <div class="control has-icons-left">
            {% render_field form.password class+="input" %}
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        {{ form.password.errors }}
    </div>

    <div class="field">
        <button class="button is-success is-fullwidth" value="Submit">
            Entrar
        </button>
    </div>

</form>
<p class="has-text-grey">
    <a href="{% url 'registration_register'%}">Registrar-se</a> &nbsp;·&nbsp;
    <a href="{% url 'auth_password_reset'%}">Esqueceu a senha?</a>
</p>

{% endblock %}