{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<style>
    select { width: 175px; }

    .card {
       box-shadow: none;
    }
    .card-header {

    }
</style>
   <div id="app" class="container is-fluid" style="margin-top: 30px;">
       <nav class="level">
           <div class="level-left">
              <div class="level-item">
                 <p class="subtitle is-5">
                     Catalogo
                 </p>
              </div>
           </div>
           <div class="level-right" >
               <div class="level-item" >
                   <p class="control has-icons-left">
                       <input class="input" type="text" placeholder="Pesquisar plantinha" v-model.lazy="searchQuery"
                         @change="filterChanged">
                       <span class="icon is-left">
                           <i class="fas fa-search" aria-hidden="true"></i>
                       </span>
                   </p>
               </div>
          </div>
       </nav>

       <div class="columns" style="margin-top: 10px;">
          <!-- Side menu -->
          <div class="column is-2">
              <aside class="menu">
                  <h1>Filtros</h1>
                  <p class="menu-label">
                    Categoria
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedCategory" @change="filterChanged">
                                  <option value=''>Todas</option>
                                <option v-for="cat in categories" v-bind:value="cat.id">[[ cat.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>
                  </div>

                  <p class="menu-label">
                    ciclo de vida
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedLifeCycle" @change="filterChanged">
                                  <option value=''>Todas</option>
                                <option v-for="lc in lifeCycles" v-bind:value="lc.id">[[ lc.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>
                  </div>

                  <p class="menu-label">
                    QUANTIDADE DE LUZ
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedLightness" @change="filterChanged">
                                  <option value=''>Todas</option>
                                <option v-for="lig in lightness" v-bind:value="lig.id">[[ lig.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>

                  </div>
                  <p class="menu-label">
                    Clima
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedClime" @change="filterChanged">
                                  <option value=''>Todos</option>
                                <option v-for="clime in climes" v-bind:value="clime.id">[[ clime.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>

                  </div>
                  <p class="menu-label">
                    Região
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedRegion" @change="filterChanged">
                                  <option value=''>Todas</option>
                                <option v-for="region in regions" v-bind:value="region.id">[[ region.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>

                  </div>
                  <p class="menu-label">
                    Mês de plantio
                  </p>
                  <div class="menu-list">
                      <div class="field">
                          <div class="control">
                            <div class="select" >
                              <select v-model="selectedMonth" @change="filterChanged">
                                  <option value=''>Todos</option>
                                <option v-for="month in months" v-bind:value="month.number">[[ month.name ]]</option>
                              </select>
                            </div>
                          </div>
                      </div>

                  </div>
                  <p class="menu-label">
                     <span>Outros</span>
                  </p>



                </aside>
          </div>

          <!-- Content -->
          <div class="column is-10">
              <div class="columns is-multiline">
                  <div v-for="plant in plants" class="column is-3">
                      <div class="card">
                          <a v-bind:href="plant.slug">
                          <div class="card-image">
                              <figure class="image is-3by2">
                                <img :src="[[ plant.gallery[0].image.thumbnail ]]" alt="Placeholder image">
                              </figure>
                          </div>
                          <div class="card-header ">
                              <div class="card-header-title is-centered">
                                  [[ plant.popular_names[0] ]]
                              </div>
                          </div>
                          </a>
                      </div>

                  </div>

              </div>

              <!-- PAGINATION
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">

                  <ul class="pagination-list">
                    <li><a class="pagination-link is-current" aria-label="Goto page 1" >1</a></li>
                      <template v-if="maxPage > 1">
                          <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                            <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                              <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 86">[[ maxPage ]]</a></li>
                      </template>
                  </ul>
                  <template v-if="maxPage >1">
                      <a class="pagination-previous">Anterior</a>
                      <a class="pagination-next">Próxima</a>
                  </template>

              </nav> -->

          </div>
          <!-- <div class="column is-2">
              Espaço para dicas e outros anuncions bacanitas
          </div> -->
      </div>


       <script type="application/javascript">
                      var app = new Vue({
                      delimiters: ['[[', ']]'],
                      el: '#app',
                      data: {
                          plantsLoading: false,
                          plants: [],
                          monthsLoading: false,
                          months: [],
                          regionsLoading: false,
                          regions: [],
                          lightnessLoading: false,
                          lightness: [],
                          categoriesLoading: false,
                          categories: [],
                          lifeCyclesLoading: false,
                          lifeCycles: [],
                          climesLoading: false,
                          climes: [],
                          selectedClime: '',
                          selectedLifeCycle: '',
                          selectedCategory: '',
                          selectedLightness: '',
                          selectedMonth: '',
                          selectedRegion: '',
                          pageNumber: 1,
                          maxPage: 0,
                          searchQuery: '',

                          showSpan: false,
                      },
                      mounted: function() {
                          this.getPlantsFiltered();
                          this.getMonths();
                          this.getRegions();
                          this.getLightness();
                          this.getCategories();
                          this.getLifeCycles();
                          this.getClimes();
                      },
                      methods: {
                          getImage: function(plant) {
                              console.log(plant.gallery[0])
                          },
                          getPlantsFiltered: function() {
                              this.plantsLoading = true;
                              this.$http.get('/api/plants/?plantations__months__number='+this.selectedMonth+'&search='
                              + this.searchQuery + '&plantations__region__id=' + this.selectedRegion
                              + '&categories__id=' + this.selectedCategory + '&lightness__id' + this.selectedLightness
                              + '&life_cycle__id=' + this.selectedLifeCycle + '&climes__id' + this.selectedClime)
                                  .then((response)=> {
                                      this.plants = response.data.results;
                                      this.maxPage = response.data.total_pages;
                                      console.log(response.data.results)
                                      this.plantsLoading = false;
                                  })
                                  .catch()
                          },
                          getMonths: function() {
                              this.monthsLoading = true;
                              this.$http.get('/api/months/')
                              .then((response) => {
                                  this.months = response.data;
                                  this.monthsLoading = false;
                              })
                              .catch()
                          },
                          getRegions: function() {
                              this.regionsLoading = true;
                              this.$http.get('/api/regions/')
                              .then((response) => {
                                  this.regions = response.data;
                                  this.regionsLoading = false;
                              })
                              .catch()
                          },
                          getLightness: function() {
                              this.lightnessLoading = true;
                              this.$http.get('/api/lightness/')
                              .then((response) => {
                                  this.lightness = response.data;
                                  this.lightnessLoading = false;
                              })
                              .catch()
                          },
                          getCategories: function() {
                              this.categoriesLoading = true;
                              this.$http.get('/api/categories/')
                              .then((response) => {
                                  this.categories = response.data;
                                  this.categoriesLoading = false;
                              })
                              .catch()
                          },
                          getLifeCycles: function() {
                              this.lifeCyclesLoading = true;
                              this.$http.get('/api/lifecycles/')
                              .then((response) => {
                                  this.lifeCycles = response.data;
                                  this.lifeCyclesLoading = false;
                              })
                              .catch()
                          },
                          getClimes: function() {
                              this.climesLoading = true;
                              this.$http.get('/api/climes/')
                              .then((response) => {
                                  this.climes = response.data;
                                  this.climesLoading = false;
                              })
                              .catch()
                          },
                          filterChanged: function() {
                              this.getPlantsFiltered();
                              console.log(this.plants);
                          }
                      },
                    });
                  </script>

   </div>

{% endblock %}