{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<style>

    .container-margin {
        margin-top: 50px;
    }
    .is-green {
        background: green;
    }
</style>

<div id="app" class="container is-fluid container-margin">

    <div class="columns is-centered">
        <div class="column is-10">
                <div class="columns is-multiline">
                    <div class="column is-8">
                        <div class="card">
                            <div class="card-content">
                                <div class="columns is-multiline">
                                    <div class="column is-12">
                                        <nav class="breadcrumb has-succeeds-separator is-small" aria-label="breadcrumbs">
                                            <ul>
                                                <li v-if="characteristics != ''"><a href="#">[[ characteristics.gender.family.order.classe.name ]]</a></li>
                                                <li v-if="characteristics != ''"><a href="#">[[ characteristics.gender.family.order.name ]]</a></li>
                                                <li v-if="characteristics != ''"><a href="#">[[ characteristics.gender.family.name ]]</a></li>
                                                <li v-if="characteristics != ''"><a href="#">[[ characteristics.gender.name ]]</a></li>
                                                <li class="is-active"><a href="#" aria-current="page">{{ plant }}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="column is-7">
                                        <figure class="image is-4by3">
                                          <img :src="[[ characteristics.gallery[0].image.detail ]]">
                                        </figure>

                                    </div>
                                    <div class="column is-5">
                                        <h2 class="title is-4">{{ popular_name }}</h2>
                                        <h4 class="subtitle is-6"><i>{{ plant.scientific_name }}</i></h4>
                                        <h6 class="subtitle is-6">
                                            Também conhecido como {% for name in popular_names %}
                                            {{ name|lower }},
                                            {% endfor %}
                                        </h6>
                                    </div>

                                    <div class="column is-12">
                                        <div class="tabs is-centered ">
                                            <ul v-for="region in regions">
                                                <li @click="selectRegion(region.name)" :class="{'is-active': (region.name == selectedRegion)}"><a>[[ region.name ]]</a></li>
                                            </ul>
                                        </div>
                                        <div class="table-container " style="margin-top: -20px;">
                                            <table class="table ">
                                                <thead>
                                                <tr>
                                                    <th>Fase</th>
                                                    <th>Jan</th>
                                                    <th>Fev</th>
                                                    <th>Mar</th>
                                                    <th>Abr</th>
                                                    <th>Mai</th>
                                                    <th>Jun</th>
                                                    <th>Jul</th>
                                                    <th>Ago</th>
                                                    <th>Set</th>
                                                    <th>Out</th>
                                                    <th>Nov</th>
                                                    <th>Dez</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="plant in plantations">
                                                        <td>[[ plant.title ]]</td>
                                                        <td v-for="month in 12" :class="{'is-green': (filteredMonths(plant['months_region']).includes(month))}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <h2 class="title is-5">Detalhes</h2>

                                                    <p v-for="plant in plantations" style="margin-bottom:5px;">
                                                        [[ plant.description ]]
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <h6 class="title is-5">Plantas companheiras</h6>
                                                    <div v-for="syntrop in syntropies">
                                                        <strong>[[ syntrop.plant2.popular_names[0] ]]</strong>, [[ syntrop.description | lower ]]
                                                    </div>

                                                </div>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <h6 class="title is-5">Ameaças</h6>
                                                    <div v-for="d in diseases">
                                                        <strong>[[ d.disease.name ]]</strong>, [[ d.disease.description | lower ]]
                                                    </div>

                                                </div>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <div class="media-content">
                                                <div class="content">
                                                    <h6 class="title is-5">Comentários</h6>
                                                    <div v-for="d in diseases">
                                                        <strong>[[ d.disease.name ]]</strong>, [[ d.disease.description | lower ]]
                                                    </div>

                                                </div>
                                            </div>
                                        </article>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">
                                            Caracteristicas
                                        </p>
                                    </header>

                                    <div class="card-content">
                                        <article class="media" v-if="characteristics.life_cycle">
                                            Ciclo de vida: [[ characteristics.life_cycle.name|lower ]]
                                        </article>

                                        <article class="media" v-if="characteristics.water">
                                            Necessidade de água: [[ characteristics.water.name|lower ]]
                                        </article>

                                        <article class="media" v-if="characteristics.lightness">
                                            Necessidade de luz: [[ characteristics.lightness.name|lower ]]
                                        </article>

                                        <article class="media" v-if="characteristics.climes">
                                            Climas:
                                            <p v-for="clime in characteristics.climes">[[ clime.name|lower ]]</p>
                                        </article>

                                         <article class="media" v-if="characteristics.carbon_cycle">
                                             Ciclo de carbono: [[ characteristics.carbon_cycle.name ]]
                                         </article>

                                    </div>

                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">
                                            Outras variedades
                                        </p>
                                    </header>

                                    <div class="card-content has-text-centered" v-if="characteristics.varieties.length > 0">
                                        <article class="media" v-for="variety in characteristics.varieties">
                                            <a>[[ variety.variety_name ]]</a>
                                        </article>

                                        <article>
                                        <p class="has-text-centered">

                                            <button class="button is-success is-fullwidth" value="Submit">
                                                Adicionar variedade
                                            </button>
                                        </p>

                                        </article>
                                    </div>
                                    <div class="card-content" v-else>
                                        <article class="media">
                                            Nenhuma variedade cadastrada
                                        </article>
                                        <article>
                                        <p class="has-text-centered">

                                            <button class="button is-success is-fullwidth" value="Submit">
                                                Adicionar variedade
                                            </button>
                                        </p>
                                        </article>

                                    </div>

                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">
                                            Comunidade
                                        </p>
                                    </header>

                                    <div class="card-content">
                                        <article>
                                            <p class="has-text-centered">

                                            <button class="button is-success is-fullwidth" value="Submit">
                                                Sugerir alteração
                                            </button>
                                        </p>
                                        </article>
                                        <br>
                                        <article>
                                            <p class="has-text-centered">

                                            <button class="button is-success is-fullwidth" value="Submit">
                                                Adicionar foto
                                            </button>
                                        </p>
                                        </article>
                                        <br>
                                        <article>
                                            <p class="has-text-centered">

                                            <button class="button is-success is-fullwidth" value="Submit">
                                                Adicionar plantio
                                            </button>
                                        </p>
                                        </article>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="columns">-->
<!--                    <div class="column">-->
<!--                        <div class="tags">-->
<!--                          <span class="tag">One</span>-->
<!--                          <span class="tag">Two</span>-->
<!--                          <span class="tag">Three</span>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

        </div>
    </div>

    <script type="application/javascript">
                      var app = new Vue({
                      delimiters: ['[[', ']]'],
                      el: '#app',
                      data: {
                          plantSlug: '{{ plant.slug }}',
                          characteristics: '',
                          characteristicsLoading: false,
                          plantations: [],
                          selectedRegion: 'Sul',
                          regions: [],
                          syntropies: [],
                          diseases: [],
                      },
                      mounted: function() {
                          this.getPlantCharacteristics();
                          this.getPlantation();
                          this.getSyntrophy();
                          this.getDiseases();
                          this.getRegions();
                      },
                      methods: {
                          getDiseases: function(){

                              this.$http.get('/api/diseaseaffect/?plant__slug='+ this.plantSlug)
                              .then((response) => {
                                  this.diseases = response.data;
                                  //console.log(response.data);
                                  //this.characteristicsLoading = false;
                              })
                              .catch()
                          },
                          filteredMonths: function(months){
                              filteredMonths = [];
                              for (month of months) {
                                  if(month.region.name == this.selectedRegion){
                                      for(m of month.months){
                                          filteredMonths.push(m.month.number);
                                      }
                                  }
                              }

                              return filteredMonths;
                          },
                          selectRegion: function(region){
                              this.selectedRegion = region;
                          },
                          getPlantation: function(){
                              //this.characteristicsLoading = true;
                              this.$http.get('/api/plantations/?plant__slug='+ this.plantSlug)
                              .then((response) => {
                                  this.plantations = response.data;
                                  //console.log(response.data);
                                  //this.characteristicsLoading = false;
                              })
                              .catch()

                          },
                          getPlantCharacteristics: function(){
                              this.characteristicsLoading = true;
                              this.$http.get('/api/characteristics/'+ this.plantSlug)
                              .then((response) => {
                                  this.characteristics = response.data;
                                  this.characteristicsLoading = false;
                              })
                              .catch()
                          },
                          getPlantVarieties: function() {
                              this.plantVarietiesLoading = true;
                              this.$http.get('/api/varieties/'+ this.plantSlug)
                              .then((response) => {
                                  this.plantVarieties = response.data;
                                  this.plantVarietiesLoading = false;
                              })
                              .catch()
                          },
                          getRegions: function() {
                              this.$http.get('/api/regions/')
                              .then((response) => {
                                  this.regions = response.data;
                              })
                              .catch()
                          },
                          getSyntrophy: function() {
                              this.$http.get('/api/syntrophies/?plant1__slug=' + this.plantSlug)
                                  .then((response) => {
                                      this.syntropies = response.data;
                                      console.log(response.data);
                                  })
                                  .catch()
                          },
                          getLightness: function() {
                              this.lightnessLoading = true;
                              this.$http.get('/api/lightness/')
                              .then((response) => {
                                  this.lightness = response.data;
                                  this.lightnessLoading = false;
                              })
                              .catch()
                          },
                          getCategories: function() {
                              this.categoriesLoading = true;
                              this.$http.get('/api/categories/')
                              .then((response) => {
                                  this.categories = response.data;
                                  this.categoriesLoading = false;
                              })
                              .catch()
                          },
                          getLifeCycles: function() {
                              this.lifeCyclesLoading = true;
                              this.$http.get('/api/lifecycles/')
                              .then((response) => {
                                  this.lifeCycles = response.data;
                                  this.lifeCyclesLoading = false;
                              })
                              .catch()
                          },
                          getClimes: function() {
                              this.climesLoading = true;
                              this.$http.get('/api/climes/')
                              .then((response) => {
                                  this.climes = response.data;
                                  this.climesLoading = false;
                              })
                              .catch()
                          },
                          filterChanged: function() {
                              this.getPlantsFiltered();
                              console.log(this.plants);
                          }
                      },
                      filters: {
                          lower: function (value) {
                            if (!value) return ''
                            value = value.toString()
                            return value.charAt(0).toLowerCase() + value.slice(1)
                          }
                      },
                    });
                  </script>

</div>

{% endblock %}